body{
  background-color: #c4b6b6;
}

hr{
  border-style: dotted none none;
  width: 5%;
  border-width: 10px;
  border-color: grey;
}
  h1{
    color: #39311d;

  }

  h3{
    color: #39311d;

  }
